* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 80%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #B87333;
    padding: 0rem 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo img {
    height: 90px;
    width: 105px;
}

header .navbar {
    display: flex;
    align-items: center;
}

header .navbar a {
    font-size: 1.5rem;
    padding: 0 2rem;
    color: #FFFFFF;
    margin-top: 22px;
}

header .navbar a:hover {
    color: #523100;
}

.navbar .fa{
    margin-right: 8px;
}

.navbar .fa-solid {
    margin-right: 8px;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 2rem;
    color: #FFFFFF;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: .1rem solid #FFFFFF;
    display: none;
}

.dropdown_menu {
    display: none;
}

.navbar a:hover .dropdown_menu {
    display: block;
    position: absolute;
    background-color: #4e2907;
    margin-top: 15px;
    margin-left: -15px;
}

.navbar a:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.navbar a:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #523100;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.icon {
    display: flex;
    align-items: center;
}

.icon a {
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-top: 22px;
}

#search-box {
    background: #ffffff;
    border-radius: 30px;
    display: flex;
    align-items: center; 
    padding: 5px;
    margin-top: 22px;
    margin-right: 10x;
}

#search-box #search-text {
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: none;
    width: 170px;
    height: 30px;
    font-size: 18px;
    padding: 0px 10px;
    flex-grow: 1;
}

#search-box #search-btn {
    position: relative;
    background-color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

#search-box #search-btn > i {
    padding-left: 0;
    font-size: 18px;
    color: #B87333;
}

#search-box #search-btn > i:hover {
    color: #523100;
}

.fa-cart-shopping {
    font-size: 25px; 
    cursor: pointer;
    color: #ffffff;
}

.fa-cart-shopping:hover, .fa-user:hover {
    cursor: pointer;
    color: #523100;
}

.fa-user {
    font-size: 25px; 
    cursor: pointer;
    margin-right: -30px;
    color: #ffffff;
}





































@media (max-width:1300px) {
    html {
        font-size: 10%;
    }

    header {
        padding: 1rem;
    }
}

@media (max-width:750px) {

    html {
        font-size: 20%;
    }

    header {
        padding: 1rem;
    }

    header .logo img {
        height: 70px;
        width: 85px;
    }

    header .fa-bars {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7ddc6;
        flex-direction: column;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }

    header .icon {
        display: flex;
        margin-right: 30px;
        align-items: flex-start;
        margin-top: -15px;
        /* height: auto;
        width: 100px; */
    }

    header .navbar a {
        margin: 1rem;
        padding: 1.5rem;
        background: #B87333;
        border: .1rem solid rgba(228, 171, 107, 0.3);
        display: block;
        width: 95%;
    }

    header .navbar:hover {
        color: #F7D600;
    }

    header .icon #search-box {
        display: flex;
        align-items: center;
        margin-top: 17px;
    }

    header .icon #search-box #search-text {
        width: 0;
        padding: 0;
    }

    header .icon #search-box:hover #search-text {
        width: 150px; 
        padding: 5px 10px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 45%;
    }

    header .icon {
        display: flex;
        margin-right: 30px;
        align-items: flex-start;
        margin-top: -15px; 
    }
}

